<div class="hero-unit">
  <div class="row">
    <h2 class="text-center">Gun control is good</h2>
  </div>
  <div class="row text-center">
    <div class="span4">
    <h3 class="span3">Player 1</h3>
      <p class=" span3">
       <button class="btn btn-primary" type="button">Vote</button><br><strong>0 votes</strong>
      </p>
    </div>
    <div class="span3 text-left">
      <img src="http://placekitten.com/140/140" class="img-polaroid">
    </div>
    <div class="span3">
      <h3 class="span3">Player 2</h3>
      <p class=" span3">
       <button class="btn btn-primary" type="button">Vote</button><br><strong>0 votes</strong>
      </p>
     </div>
  </div>
</div>
