<div class="hero-unit">
  <div class="row text-center">
    <div class="span3">
      <%= render partial: '_debater_information', locals: {debate_side: @debate_side_yes} %>
    </div>
    <div class="span3 offset1">
      <h3>Gun control</h3>
      <h4>We need gun laws passed this year</h4>
    </div>
    <div class="span3">
        <%= render partial: '_debater_information', locals: {debate_side: @debate_side_no}  %>
     </div>
  </div>
</div>
