<div class="hero-unit">
  <div class="row text-center">
    <div class="span4">
    <h3 class="span3">Player 1</h3>
      <p class=" span3">
       <button class="btn btn-primary" type="button">Vote</button><br><strong>0 votes</strong>
      </p>
    </div>
    <div class="span3 text-left">
      <h3>Gun control is good.</h3>
      <h4 class="text-center">We need gun laws passed this year</h4>
    </div>
    <div class="span3">
      <h3 class="span3">Player 2</h3>
      <p class=" span3">
       <button class="btn btn-primary" type="button">Vote</button><br><strong>0 votes</strong>
      </p>
     </div>
  </div>
</div>
