<!-- <div class="row span3 text-center">
    <h3 class="text-center span3">For: <em>Player 1</em></h3>
    <p class="text-center span3">
      <button class="btn btn-primary" type="button">Vote</button>&nbsp;0 votes
    </p>
</div>
 -->
