<% debate_side.responses.each do |r| %>
  <div class="span6 response-type">
    <p><%= r.response_type + ':' %></p>
  </div>
  <div class="span6 text-box response">
    <p><%= r.content %></p>
  </div>
<% end %>
