
  <%#= render 'debate_player_info' %>
  <%= render 'debate_header' %>


<div class="row">
  <div class="span6 no-margin-left">
    <%= render 'debate_input_box' %>
  </div>
  <div class="span6 debate-box">
    <%= render 'debate_input_box' %>
  </div>
</div>
