<%= render 'debate_header' %>

<div class="row">
    <%= render partial: 'update_debate_form', locals: {debate_side: @debate_side_yes} %>
    <%= render partial: 'update_debate_form', locals: {debate_side: @debate_side_no} %>
</div>
