  <li class="span4">
    <div class="thumbnail">
      <%= image_tag("dream_rally_1.jpg", :alt => "test", :class => "img-rounded") %>
      <h4 class="text-center">Immigration reform is needed</h4>
      <p class="text-center">Barack.O vs. Mitt.R
        <br>
         <%= link_to("read more", debates_path, class: "btn btn-danger btn-small") %>
        <%#= link_to("read more", {:controller => :debates, :action => :show, :name => "read more"}, {:class=>"btn btn-danger btn-small"}) %>
        <!-- <a class="btn btn-danger btn-small">read more</a> -->
      </p>
    </div>
  </li>
