.feedback-form {
  textarea {
    width: 380px;
    background-color: #D3D3D3;
    color: black;
    border:#B3B3B3 solid 3px;
    font-style: bold;
    text-align: left;
  }
}

.feedback-submit {
  text-align: center
}
