//Debate Header

.debate-header {
  border:solid #D3D3D3;
  background-color: #D3D3D3;
}

.votes {
  color: red;
}

.temporary-header {
  color: red;
  padding-top: 20px;
  text-align: center;
}

.debate-title {
  padding-left: 20px;
}

// Debate-forms
.text-box {
  textarea {
    width: 440px;
    background-color: #D3D3D3;
    color: black;
    border:#B3B3B3 solid 3px;
    font-style: bold;
    text-align: left;
  }
}

.submit {
  background-color: green;
  border: solid white 1px;
  border-radius: 5px;
  max-height: 15px;
}

.row .debate-side-form {
  margin-left: 0px;
  padding-left: 8px;
}

.submit-button {
  margin-bottom:15px;
}


