.header {
  text-align: center
}

.stats {
  text-align: center;
  border: solid 5px;
  border-radius: 5px;
  border-color: #C3C3C3;
  background-color: #D3D3D3;
  width: 0 auto;

}

.sub-header {
  text-align: center
}
