  <% @debates.each do |d| %>
    <li class="span4">
      <div class="thumbnail">
        <%= image_tag("dream_rally_1.jpg", :alt => "test", :class => "img-rounded") %>
        <h4 class="text-center"><%= d.topic.title %></h4>
        <p class="text-center">Barack Obama vs. Mitt Romney
          <br>
           <%= link_to("read more", debate_path(d), class: "btn btn-danger btn-small") %>
          <%#= link_to("read more", {:controller => :debates, :action => :show, :name => "read more"}, {:class=>"btn btn-danger btn-small"}) %>
          <!-- <a class="btn btn-danger btn-small">read more</a> -->
        </p>
      </div>
    </li>
<% end %>
