<%= paginate @debates, remote: true %>
<div class = "row">
  <ul class="thumbnails row-pad-left">
    <% @debates.each do |d| %>
      <%= render partial: 'debate_box', locals: {debate: d} %>
    <% end %>
  </ul>
</div>
